*{
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.hero{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.herom{
    width: 1068px;
    height: 485px;
    background-size: cover;
    background-position: center;
    background: linear-gradient(rgba(0,0,0,0.98),rgba(0,0,0,0.1)),url("images/Banner\ Image.png");
    background-size: contain;
    border-radius: 15px;
}
.herom p{
    font-family: "Merriweather", serif;
    font-size: 25px;
    color: white;
    padding-top: 140px;
}
.herom h1{
    margin-top: 20px;
    font-family: "Merriweather", serif;
    color: white;
    font-size: 60px;
}
.off{
    width: 800px;
    height: 800px;
    text-align: center;
}
.off h1{
    color: #FF0000;
    font-size: 60px;
    padding-left: 450px;
    margin-top: 30px;
}
.off p{
    color: #FF0000;
    padding-left: 450px;
    padding-top: 20px;
}
.off h2{
    font-size: 34px;
    padding-left: 450px;
    padding-top: 10px;
}
.off img{
    padding-left: 250px;
    padding-top: 50px;
}
.wel{
    width: 1068px;
    height: 600px;
    background: linear-gradient(to right,rgba(0,0,0,0.99),rgba(0,0,0,0.01)),url("images/Vectorrr.png");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 100px;
    border-radius: 16px;
    display: flex;
    
}
.wel h2{
     font-family: "Merriweather", serif;
    color: white;
    font-size: 60px;
    padding-left: 110px;
    margin-top: 130px;
}
.wel p{
    color: silver;
    font-size: 14px;
    font-weight: 300;
    padding-left: 110px;
    margin-top: 30px;
    
}
.wel h5{
    color: white;
    font-size: 18px;
    padding-left: 140px;
    margin-top: 50px;
    cursor: pointer;
}
.wel img{
    padding-left: 70px;
    padding-top: 100px;
}
.place{
    width: 1068px;
    height: 450px;
    background: linear-gradient(to top,rgb(250, 250, 250,0.0001),rgba(247, 205, 205, 0.724));
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}
.place p{
    font-size: 33px;
    font-weight: 600px;
    padding-bottom: 20px;
}
.one{
    padding-top: 120px;
}
.place button{
    width: 167px;
    height: 56px;
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}
.new{
    width: 1068px;
    height: 450px;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.com h4{
    font-size: 18px;
    font-weight: 600;
    color: #FF0000;
    padding-top: 90px;
}
.com h1{
    font-family: "Merriweather", serif;
    margin-top: 12px;
    font-size: 30px;
}
.com p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(87, 85, 85);
    margin-top: 12px;
    line-height: 20px;
}
.circle{
    width: 400px;
    margin-left: 75px;

}
.circle img{
    border:10px solid red;
    border-radius: 50%;
    
}
.year{
    margin-left: 80px;
}
.year h1{
    font-size: 35px;
    color: #FF0000;
    padding-top: 100px;
    padding-right: 10px;

}
.year p{
     font-size: 14px;
    font-weight: 400;
    color: rgb(87, 85, 85);
    padding-top: 12px;
    line-height:20px
}
.year img{
    padding-top: 30px;
}
.what{
    width: 1068px;
    height: 700px;
    margin-left: 100px;
    position: relative;
}
.what h3{
    font-size: 20px;
    font-weight: 600;
    padding-left: 430px;
}
.what h1{
     font-family: "Merriweather", serif;
    font-size: 50px;
    padding-left: 320px;
    line-height: 90px;
}
.what span{
    font-family: "Merriweather", serif;
}
.what p{
    font-weight: 300;
    color: rgb(116, 115, 115);
    padding: 0px 150px 0px 150px;
    text-align: center;
    line-height: 25px;
}
#one{
    top: 280px;
    left: 70px;
    position: absolute;
} 
#two{
    position: absolute;
    left: 770px;
    top: 240px;
}
#three{
    padding-top: 330px;
}
.best h4{
    color: #FF0000;
    margin-left: 100px;
    margin-top: 80px;
}
.best h1{
    font-size: 40px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: "Merriweather", serif;
}
.best p{
    font-size: 14px;
    margin-left: 100px;
    margin-top: 10px;
    line-height: 24px;
    color: rgb(116, 115, 115);
}
.div1{
    display: flex;
    width: 1105px;
    justify-content: space-evenly;
    margin-left: 85px;
    margin-top: 25px;
}
.div2{
    display: flex;
    width: 1105px;
    justify-content: space-evenly;
    margin-left: 85px;
    margin-top: 10px;
}
.sub{
   width: 1070px;
   height: 450px; 
   background: linear-gradient(rgba(250, 0, 0, 0.07));
   margin-left: 103px;
   margin-top: 100px;
   border-radius: 10px;
}
.stamp{
    padding-left: 480px;
    padding-top: 60px;
}
.sub h1{
    font-size: 35px;
    font-family: "Merriweather", serif;
    padding-left: 360px;
    padding-top: 20px;
}
.sub p{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    line-height: 25px;
    color: rgb(87, 86, 86);
}
.sub input{
    width: 370px;
    height: 50px;
    margin-left: 280px;
    padding-left: 20px;
    margin-top: 40px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.sub button{
    width: 120px;
    height: 50px;
    border: none;
    background-color: #FF0000;
    color: white;
    border-radius: 0px 50px 50px 0px;
}
.foot{
    background-color: #070211;
    margin-top: 80px;
    height: 400px;
}
.foot1{
    height: 150px;
    border-bottom: 1px solid rgb(81, 79, 79);
    width: 1070px;
    margin-left: 100px;
    display: flex;
}
.foot1 p{
    color: white;
}
.divs{
    width: 300px;
    height: 70px;
    margin-top: 50px;
    line-height: 25px;
}
.divc{
     width: 340px;
    height: 110px;
    margin-top: 20px;
    line-height: 25px;
    margin-left: 500px;
}
.foot2{
    border-bottom: 1px solid rgb(81, 79, 79);
    width: 1070px;
    height: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center
}
.foot2 img{
    padding: 20px 20px 0 0;
    padding-bottom: 18px;
}
.foot3{
    display: flex;
    color: white;
    width: 1070px;
    margin-left: 100px;
    justify-content: space-between;
    margin-top: 40px;
}
